body {
    background-color: #141414;
}

.container {
    display: flex;
    justify-content: center;
}

img {
    width: 88px;
    height: 88px;
    border-radius: 60px;
}

.card {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    display: flex;
    width: 360px;
    height: 490px;
    background-color: #1F1F1F;
    text-align: center;
}

.card-body {
    display: block;
    align-items: center;
    height: 90%;
    width: 100%;
}

.profile-pic {
    margin-top: 5%;
}

h1 {
    margin: 0;
    margin-top: 14px;
    font-family: 'Inter';
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0px;
    font-weight: bold;
    color: #FFFFFF;
}

h2 {
    margin: 0;
    font-family: 'Inter';
    font-size: 14px;
    color: #C4F82A;
}

.presentation{
    color: #FFFFFF;
    font-size: 14px;
    padding: 0 20px 0 20px;
    font-family: 'Inter';
    line-height: 150%;
    margin-top: 24px;
}

.links{
    margin-top: 18px;
    display: grid;
    row-gap: 16px;
    align-items: center;
    justify-content: center;
}

a {
    width: 240px;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-family: 'Inter';
    font-weight: bold;
    text-align: center;
    color: white;
    font-size: 14px;
    background-color: #333333;
}

a:hover{
    background-color: #C4F82A;
    color: #333333;
}

/* Mobile */
@media (max-width: 425px) {
    .card {
        width: 375px;
    }
}